body {
    margin-left: 20px;
}

#mydiv {
    margin-top: 50px;
}

#addPromo {
    margin-top: 30px;
}

ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
             
    }
    
    .card {
        margin: 30px;        
    }

h1 {
    text-align: center;
    margin-top: 30px;
}

label {
    margin-top: 30px;
}

li {
    list-style: none;
}

#btnDel {
    margin-right: 10px;
}